<ul class="breadcrumb">
  <li><%= link_to 'Quizzes', quizzes_path %> <span class="divider">/</span></li>
  <li><%= link_to "#{@quiz.name} Categories", quiz_categories_path(@quiz.id) %> <span class="divider">/</span></li>
  <li class="active"><%= @category.name %> Questions</li>
</ul>

<h1><%= @quiz.name %>: <%= @category.name %> Questions </h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>#</th>
      <th>Question</th>
      <th>Correct answer</th>
      <th>Altone answer</th>
      <th>Alttwo answer</th>
      <th>Altthree answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody id="questions" data-update-url="<%= sort_quiz_category_questions_url(@quiz.id, @category.id) %>">
    <% @questions.each_with_index do |question, index| %>
      <%= content_tag_for :tr, question do %>
        <td><i class="handle icon-move"></i></td>
        <td><%= index + 1 %></td>
        <td><%= question.question %></td>
        <td><%= question.correct_answer %></td>
        <td><%= question.altone_answer %></td>
        <td><%= question.alttwo_answer %></td>
        <td><%= question.altthree_answer %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Edit', edit_quiz_category_question_path(@quiz.id, @category.id, question.id), :class => 'btn', :id => "queeditbtn#{@quiz.id}#{@category.id}#{question.id}" %>
            <%= link_to 'Destroy', [@quiz, @category, question], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => "quedesbtn#{@quiz.id}#{@category.id}#{question.id}" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_quiz_category_question_path(@quiz.id, @category.id), :class => 'btn btn-primary' %>
