<ul class="breadcrumb">
  <li class="active">Quizzes</li>
</ul>

<h1>Quizzes</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="quizzes" data-update-url="<%= sort_quizzes_url %>">
    <% @quizzes.each do |quiz| %>
      <%= content_tag_for :tr, quiz do %>
        <td><i class="handle icon-move"></i></td>
        <td><%= quiz.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show Categories', quiz_categories_path(quiz), :class => 'btn btn-info', :id => "catshowbtn#{quiz.id}" %>
            <%= link_to 'Edit', edit_quiz_path(quiz), :class => 'btn', :id => "quieditbtn#{quiz.id}" %>
            <%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => "quidesbtn#{quiz.id}" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz', new_quiz_path, :class => 'btn btn-primary' %>
