<ul class="breadcrumb">
  <li><%= link_to 'Quizzes', quizzes_path %> <span class="divider">/</span></li>
  <li class="active"><%= @quiz.name %> Categories</li>
</ul>

<h1><%= @quiz.name %> Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody id="categories" data-update-url="<%= sort_quiz_categories_url(@quiz.id) %>">
    <% @categories.each do |category| %>
      <%= content_tag_for :tr, category do %>
        <td><i class="handle icon-move"></i></td>
        <td><%= category.name %></td>
        <td>
          <div class="btn-group">
            <%= link_to 'Show Questions', quiz_category_questions_path(@quiz.id, category.id), :class => 'btn btn-info', :id => "queshowbtn#{@quiz.id}#{category.id}" %>
            <%= link_to 'Edit', edit_quiz_category_path(@quiz.id, category.id), :class => 'btn', :id => "cateditbtn#{@quiz.id}#{category.id}" %>
            <%= link_to 'Destroy', [@quiz, category], method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger', :id => "catdesbtn#{@quiz.id}#{category.id}" %>
          </div>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_quiz_category_path(@quiz.id), :class => 'btn btn-primary' %>
