<!DOCTYPE html>
<html>
<head>
  <title><%= @game.quiz.name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "dashboard/dashboard" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>


<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>
  <%= yield %>
</div>
<%= javascript_include_tag "http://localhost:9292/faye.js" %>
<%= javascript_include_tag "games/fastclick" %>
<%= javascript_include_tag "games/dashboard" %>
</body>
</html>
