<!DOCTYPE html>
<html>
<head>
  <title><%= @game.quiz.name %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <style>body{ font-size: 1.2rem; padding-top: 16px; }</style>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

<span id="gameinfo" data-link-url="<%= @game.link_url %>"></span>
<div class="container">
  <% flash.each do |name, msg| %>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>
</div>
<%= javascript_include_tag "http://192.168.1.14:9292/faye.js" %>
<%= javascript_include_tag "games/fastclick" %>
<%= javascript_include_tag "games/games" %>
</body>
</html>
